
	<form action="/set_url" method="POST">
	    <label for="domain">Domain name</label>
	    <input type="text" name="domain">
	    <br/>
	    <input type="submit">
	</form>

	<div style="color:red">
		<p>
			<h3>Tips to enter domain name</h3>
			<p>Type <strong>google.com</strong> for <strong>www.google.com</strong></p>
		</p>
	</div>



