<p>

	<em style="color: green; font-size: 2em;"><a href="http://<%= url%>" target="_blank">Click Here to see site</a></em>
  <br /><br />

  <em style="color: green; font-size: 2em;"><a href='/headings/<%= url%>' target="_blank">Click Here to see headings</a></em>

   <br /><br />

   <em style="color: green; font-size: 2em;"><a href="/links/<%= url%>" target="_blank">Click Here to see links</a></em>

</p>
